
.background{
    width: 100%;
    height: 100vh;
    background-image: url("./LandingBackgroung.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text{
    font-family: "Recoleta";
    text-align: center;
    margin: 10px 0;
}
.text h1{
    color: #FF6565;
    font-size: 4.5em;
    margin: 10px 20px;
}

.text h2{
    font-size: 2.5em;
    color: white;
    margin: 10px 30px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 200px;
}
input{
    margin-bottom: 10px;
}
.text-link {
    color: inherit;
    text-decoration: inherit;
}